<div class="row">
  <div class="large-12 columns">
    <%= form_for @user do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <p class='profile-text'>
        <%= f.label :first_name %>
        <%= f.text_field :first_name %>
        <div class="row">
          <div class="large-7 columns">
            <%= f.label :email %>
            <%= f.text_field :email, :class => 'email' %>
          </div>
          <div class="large-5 columns topper">
            <%= f.check_box :email_notification, :id => 'email_notify'%>
            <%= f.label :email_notification %>
          </div>
        </div>
        <div class="row">
          <div class="large-7 columns">
            <%= f.label :mobile_phone %>
            <%= f.text_field :mobile_phone, :class => 'mobile_phone' %>
          </div>
          <div class="large-5 columns topper">
            <%= f.check_box :mobile_phone_notification, :id => 'mobile_notify'%>
            <%= f.label :mobile_phone_notification %>
          </div>
        </div>
      </p>
      <%= f.fields_for :timeperiods do |builder| %>
        <%= render 'timeperiods', :f => builder %>
      <% end %>
      <div id="addtimeperiodlink">
        <%=  link_to_add_fields image_tag("plus.png"),f, :timeperiods,:class => 'button small round' %>
      </div>
      <p><%= f.submit %></p>
    <% end %>
  </div >
</div>