<div class="row top_row_padding">
  <div class="large-12 small-12 columns">
    <%= form_for @user, :html => { :class => "custom" } do |f| %>
      <fieldset>
        <legend>Your Profile</legend>
        <%= render 'shared/error_messages', object: f.object %>
          <div class="row">
            <div class="large-12 small-12 columns">
              <%= f.text_field :first_name, :label => false, :placeholder => "First Name: " %>
            </div>
            <br>
            <div class="large-12 small-12 columns">
              <%= f.text_field :email, :class => 'email', :label => false, :placeholder => "Email: ",:required => true %>
            </div>
            <br>
            <div class="large-12 small-12 columns">
              <%= f.text_field :mobile_phone, :class => 'mobile_phone', :label => false, :placeholder => "Mobile Phone Number: " %>
            </div>
            <br>
            <br>
            <br>
            <div class="large-6 small-6 columns">
              <br>
              <label for="email"><%= f.check_box :email_notification, :id => "email", :style => "display: none;" %><span class="custom checkbox"></span> Check for Email Notification</label>
            </div>
            <div class="large-6 small-6 columns">
              <br>
              <label for="mobile_notify"><%= f.check_box :mobile_phone_notification, :id => 'mobile_notify', :style => "display: none;" %><span class="custom checkbox"></span> Check for Mobile Phone Notifications</label>
            </div>
          </div>
          <br><hr>
          <div class="large-6 small-6">
            <h4>Time of the Day?</h4>
            <br>
          </div>

        <%= f.fields_for :timeperiods do |builder| %>
          <%= render 'timeperiods', :f => builder %>
        <% end %>
        <div id="addtimeperiodlink">
          <%=  link_to_add_fields "Add time period?", f, :timeperiods,:class => 'button small' %>
        </div>
        <p><%= f.submit %></p>
      </fieldset>
    <% end %>
  </div >
</div>
