show page
<div class='row'>
  <div class="large-6 columns">
    <% @user %>
      <p>Name: <%= @user.first_name %><br/></p>
      <p>Mobile Number: <%= @user.mobile_phone %>
        Notification <%= @user.notification_label%></p>
      <p>Email: <%= @user.email %>
        Notification<%= @user.email_notification ? 'Yes' : 'No' %></p>

      <% @user.timeperiods.each do |t| %>
        <p><%= t.timeperiodname.time_period_name %>
        <%= t.time_of_day.strftime('%H:%M') %></p>
      <% end %>
  </div>
</div>
