<div class="row top_row_padding">
  <div class='row'>
    <div class="large-12 small-12 columns ">
      <% @user %>
        <table class="width_hundred">
        <h1 class="text_centered"> Your Profile</h1>
         <!-- <legend>Your Profile</legend> -->
         <br>
          <tbody>
            <tr>
              <td>Name</td>
              <td><%= @user.first_name %></td>
            </tr>
            <tr>
              <td>Mobile Number</td>
              <td><%= @user.mobile_phone %></td>
            </tr>
            <tr>
              <td>Mobile Notification</td>
              <td><%= @user.notification_label%></td>
            </tr>
            <tr>
              <td>Email</td>
              <td><%= @user.email %></td>
            </tr>
            <tr>
              <td>Email Notification</td>
              <td><%= @user.notification_label%></td>
            </tr>
            <% @user.timeperiods.each do |t| %>
              <tr>
                <td><%= t.timeperiodname.time_period_name %></td>
                <td><%= t.time_of_day.strftime('%H:%M') %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
    </div>
  </div>
</div>