<div class="row top_row_padding">
  <div class="large-12 small-12 columns">
    <%= form_for @medication do |f| %>
      <fieldset>
        <legend>Your Medication</legend>
        <%= render 'shared/error_messages', object: f.object %>
        <%= f.text_field :medication_name, :label => false, :placeholder => "Medication Name", :required => true%>
        <% if f.object.expiry_date %>
        <%= f.text_field :expiry_date, :class => "datepicker", :label => false, :placeholder => "Expiry Date",:value => f.object.expiry_date.strftime('%d-%b-%y')%>
        <% else %>
          <%= f.text_field :expiry_date, :class => 'datepicker', :label => false, :placeholder => "Expiry Date" %>
        <% end %>
        <%= f.text_field :stock_quantity,:required => true, :label => false, :placeholder => "Stock Quantity"%>
        <%= f.text_field :directions,:required => true, :label => false, :placeholder => "Use Directions"%>
        <%= f.select :medication_type_id, Medicationtype.all.collect{|e| [e.medication_type,e.id]}%>
      <%= f.fields_for :rosters do |builder| %>
        <%= render 'rosters', :f => builder %>
      <% end %>
      <div id="addrosterlink">
        <%=  link_to_add_fields "Add another medication?",f, :rosters, :class => 'button small' %>
      </div>
      <p><%= f.submit :id => 'medication_form' %></p>
      </fieldset>
    <% end %>
  </div >
</div>

