  <div class='row'>
  <div class="large-6 columns">
    <% @medications.each do |med|%>
      <p><%= med.medication_name %><br/>
      <p><%= med.stock_quantity %><br/>
      <p><%= med.expiry_date.strftime('%d-%m-%y %H:%M') if med.expiry_date %><br/>
      <p><%= med.directions %><br/>
      <%= link_to('Edit Medication', edit_medication_path(med), :id => 'update_medication', :class => 'button radius tiny ')%>
    <% end %>
  </div>
</div>

<%= link_to('New Medication', new_medication_path, :id => 'create_medication', :class => 'button radius tiny ')%>

