<div class="row top_row_padding">
  <div class="large-12 small-12 columns">
    <% @journals.each do |journal| %>
      <% script ="journal.push({id: #{journal.id} , taken: #{journal.status}});"%>
      <div class="dose">
        <p class="medicine"> Medication: <%= journal.medication.medication_name %></p>
        <p class="status">Status: <%= journal.status %></p>
        <p class="dosage">Dosage: <%= journal.dosage %></p>
        <p class="last">Last Taken: <%= journal.date_taken.strftime('%d-%b-%y %H:%M') if journal.date_taken %>
          at <%= journal.date_taken.strftime('%H:%M') if journal.date_taken %></p>
        </p>
          <!-- <%#= journal.date_due.strftime('%d-%m-%y %H:%M') if journal.date_due %> -->
        <p class="next">Next Due: <%= journal.next_due.strftime('%d-%b-%y') if journal.next_due %>
         at <%= journal.next_due.strftime('%H:%M') if journal.next_due %></p>
      <div class="controls">
        <div class="controltaken">
          <%= form_tag "/journals" do %>
            <input type="hidden" name="status" class="taken" value="Taken">
            <input type="hidden" name="id" class="journal_id" value="<%= journal.id %>">
            <input type="submit" value="Taken" class="med_taken">
          <% end %>
        </div>
        <div class="controlskip">
          <%= form_tag "/journals" do %>
            <input type="hidden" name="status" value="Skipped">
            <input type="hidden" name="id" value="<%= journal.id %>">
            <input type="submit" value="Skipped" class="med_skipped">
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
  </div >
</div>
