<div class="row">
  <div class="large-7 columns">
    <% @journals.each do |journal| %>
      <div class='eachmed'>
        Medication: <%= journal.medication.medication_name %>
        <div>
          Status: <%= journal.status %>
          Dosage: <%= journal.dosage %>
          Last Taken: <%= journal.date_taken.strftime('%d-%m-%y %H:%M') if journal.date_taken %>
          <%= journal.date_due.strftime('%d-%m-%y %H:%M') if journal.date_due %>
          Next Due: <%= journal.next_due.strftime('%d-%m-%y %H:%M') if journal.next_due %>
        </div>
        <div>
          <%= link_to('Taken',taken_journal_path(journal), :id => 'taken', :class => 'button radius tiny') %>
          <%= link_to('Skipped',skip_journal_path(journal), :id => 'skipped', :class => 'button radius tiny') %>
        </div>
      </div>
    <% end %>
  </div >
</div>