<div class="row top_row_padding">
<h1 class="text_centered"> Medication history</h1>
  <table class="responsive width_hundred">
    <tr class='medicationstable'>
      <th>Medication</th>
      <th>Status</th>
      <th>Dosage</th>
      <th>Last Taken</th>
      <th>Next Dose</th>
    </tr>
    <% @journals.each do |journal| %>
      <tr>
        <td><%= journal.medication.medication_name %></td>
        <td><%= journal.status %></td>
        <td><%= journal.dosage %></td>
        <td><%= journal.date_taken.strftime('%d-%m-%y') if journal.date_taken %></td>
        <td><%= journal.next_due.strftime('%d-%m-%y') if journal.next_due %></td>
      </tr>
    <% end %>
  </table>
</div>
</div>