<nav class="top-bar">
  <ul class="title-area">
    <li class="name">
      <h1><%= link_to 'TabSchedule App', root_url %></a></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Left Nav Section -->
    <ul class="left">
      <% if current_user.present? %>
        <li class="divider"></li>
        <li><%= link_to('Profile', edit_user_path(current_user), :class => 'button') %></li>
        <li class="divider"></li>
        <li><%= link_to "Medication", medications_path %></li>
        <li class="divider"></li>
        <li><%= link_to "Journal", journals_path %></li>
    </ul>
      <% else %>
        <li>Login</li>
      <% end %>
    <ul class="right">
      <% if current_user.present? %>
        <li class="divider"></li>
        <li><%= link_to('Log out', destroy_user_session_path, :class => 'button', :method => :delete ) %></li>
      <% end %>
    </ul>
  </section>
</nav>